{% macro addCollection(target) %}
    <div {{ stimulus_controller('form-collection') }}
            data-form-collection-index-value="{{ target|length > 0 ? target|last.vars.name + 1 : 0 }}"
            data-form-collection-prototype-value="{{ form_widget(target.vars.prototype)|e('html_attr') }}">
        <ul class="my2" {{ stimulus_target('form-collection', 'collectionContainer') }}></ul>
        <button type="button"
                class="btn-secondary" {{ stimulus_action('form-collection', 'addCollectionElement') }}>
            {{ 'ui.add_item'|trans|capitalize }}
        </button>
    </div>
{% endmacro %}