{% extends '@front/front.html.twig' %}

{% block description 'meta.description.forgotten_password'|trans %}
{% block title 'ui.reset_password'|trans|capitalize %}

{% block body %}
    <div class="container">
        {% if token is not defined %}
            <div class="security question">
                <h1 class="h1 mb1">{{ 'ui.forgotten_password'|trans|capitalize }}</h1>
                {% for error in errors %}
                    <div class="color-danger" role="alert">{{ error }}</div>
                {% endfor %}

                <form method="post">
                    <div class="form-group">
                        <label for="inputEmail">{{ 'ui.email'|trans|capitalize }}</label>
                        <div class="form-container">
                            <input type="email" name="email" id="inputEmail" required>
                            <i data-tooltip="{{ 'tooltip.forgotten_password'|trans }}">
                                <img src="{{ asset('/build/front/tools/info_potion.svg') }}"
                                     alt="{{ 'tooltip.tooltip'|trans }}" width="20" height="20">
                            </i>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('forgotten_password') }}">

                    <div class="text-right">
                        <a href="{{ path('security.login.index') }}" class="btn-primary">{{ 'ui.go_back'|trans }}</a>
                        <button type="submit" class="btn-secondary">{{ 'ui.send'|trans }}</button>
                    </div>
                </form>
            </div>
        {% else %}

            <div class="security question">
                <h1 class="h1 mb1">{{ 'ui.reset_password'|trans|capitalize }}</h1>
                {% for error in errors %}
                    <div class="color-danger" role="alert">{{ error }}</div>
                {% endfor %}

                <form method="post">
                    <div class="form-group">
                        <label for="inputPassword">{{ 'ui.password'|trans|capitalize }}</label>
                        <div class="form-container">
                            <input type="password" name="password" id="inputPassword" required>
                            <i class="i-password">
                                <img src="{{ asset('/build/front/tools/password_eye_open.svg') }}"
                                     alt="{{ 'tooltip.tooltip'|trans }}" width="20" height="20">
                            </i>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('forgotten_password_new') }}">

                    <div class="text-right">
                        <button type="submit" class="btn-secondary">{{ 'ui.reset'|trans }}</button>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
