{% extends '@front/front.html.twig' %}

{% block description 'meta.description.guilds.show'|trans({'%guild%': guild.name})|capitalize %}
{% block title guild.name|capitalize %}

{% block body %}
    <section class="game-banner"
             style="background: url('{{ asset('/uploads/images/guilds/' ~ guild.picture) }}') center / cover;">
        <h1 class="game-mask h1">{{ 'ui.edit'|trans|capitalize }} ~ {{ guild.name }}</h1>
    </section>

    <div class="container mt2">
        <div class="flash-info card">{{ 'ui.only_dm_edit_guild'|trans|UCFirst }}</div>

        <div class="card mt2">
            {{ form_start(form) }}
            <div class="card-body flex-no-mobile gap-2">
                <div class="form-group flex-grow">
                    {{ form_label(form.picture) }}
                    {{ form_widget(form.picture) }}
                    <div class="color-danger">
                        {{ form_errors(form.picture) }}
                    </div>
                </div>
                <div class="form-group flex-grow">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                    <div class="color-danger">
                        {{ form_errors(form.name) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="flex align-center">
                    <p>{{ 'ui.all_games'|trans|capitalize }}</p>
                    <i data-tooltip="{{ ('tooltip.maximum_game_in_guild'|trans|UCFirst)|raw }}">
                        <img src="{{ asset('/build/front/tools/info_potion.svg') }}" alt="{{ 'tooltip.tooltip'|trans }}"
                             width="20" height="20">
                    </i>
                </div>
                <div id="{{ form.games.vars.id }}" class="card">
                    <div class="grid justify-left">
                        {% for game in form.games %}
                            <div class="checkbox-container">
                                <input id="{{ game.vars.id }}" name="{{ game.vars.full_name }}"
                                       value="{{ game.vars.value }}"
                                       type="checkbox" {% if game.vars.checked %}checked{% endif %} class="checkbox">
                                <label for="{{ game.vars.id }}" class="checkbox-label">{{ game.vars.label }}</label>
                                <span class="checkbox-title">{{ game.vars.label }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="color-danger">
                        {{ form_errors(form.games) }}
                        {{ form_errors(form.totalGames) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="flex align-center">
                    <p>{{ 'ui.all_members'|trans|capitalize }}</p>
                    <i data-tooltip="{{ ('tooltip.delete_user_from_guild'|trans|UCFirst)|raw }}">
                        <img src="{{ asset('/build/front/tools/info_potion.svg') }}" alt="{{ 'tooltip.tooltip'|trans }}"
                             width="20" height="20">
                    </i>
                </div>
                <div id="{{ form.members.vars.id }}" class="card">
                    <div class="grid justify-left">
                        {% for member in form.members|filter(member => member.vars.label in guild.members) %}
                            <div class="checkbox-container">
                                <input id="{{ member.vars.id }}" name="{{ member.vars.full_name }}"
                                       value="{{ member.vars.value }}"
                                       type="checkbox" {% if member.vars.checked %}checked{% endif %} class="checkbox">
                                <label for="{{ member.vars.id }}" class="checkbox-label">{{ member.vars.label }}</label>
                                <span class="checkbox-title">{{ member.vars.label }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="color-danger">
                        {{ form_errors(form.members) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.content) }}
                {{ form_widget(form.content) }}
                <div class="color-danger">
                    {{ form_errors(form.content) }}
                </div>
            </div>
            <button class="btn-primary">{{ 'ui.modify'|trans|capitalize }}</button>
            <a href="{{ path('front.guild.show', {'slug': guild.slug}) }}" class="btn-secondary">
                {{ 'ui.go_back'|trans|capitalize }}
            </a>
            {{ form_widget(form._token) }}
            {{ form_end(form, {render_rest: false}) }}
        </div>
    </div>
{% endblock %}

