{% extends '@front/front.html.twig' %}

{% block description 'meta.description.guilds.index'|trans|capitalize %}
{% block title 'ui.guilds'|trans|capitalize %}

{% block body %}
    <div class="container mt2">
        <div class="flex space-between">
            <h1 class="h1 mb2">{{ 'ui.all_guilds'|trans|capitalize }}</h1>
            {#
            {% if app.user %}
                <a href="{{ path('front.guild.new') }}" class="link-line">{{ 'ui.new_guild'|trans }}</a>
            {% endif %}
            #}
        </div>
        <div class="grid">
            {% for guild in guilds %}
                <div class="game"
                     style="background: url('{{ asset('/uploads/images/guilds/' ~ guild.picture)|imagine_filter('game_index') }}') center / cover;">
                    <a href="{{ path('front.guild.show', {'slug': guild.slug}) }}" class="game-mask h3">
                        {{ guild.name }}
                    </a>
                </div>
            {% else %}
                <div class="card">
                    {{ 'ui.no_item'|trans|capitalize }}
                </div>
            {% endfor %}
        </div>
        {{ knp_pagination_render(guilds) }}
    </div>
{% endblock %}