{% extends '@front/front.html.twig' %}

{% block description 'meta.description.guilds.new'|trans|capitalize %}
{% block title 'ui.new_guild'|trans|capitalize %}

{% block body %}
    <div class="container mt2">
        <div class="flex column justify-center">
            <h1 class="h1">{{ 'ui.new_guild'|trans|capitalize }}</h1>
            <small class="h2">{{ 'ui.new_guild_create'|trans|capitalize }}</small>
        </div>

        <div class="card mt2">
            {{ form_start(form) }}
            <div class="card-body flex-no-mobile gap-2">
                <div class="form-group flex-grow">
                    {{ form_label(form.picture) }}
                    {{ form_widget(form.picture) }}
                    <div class="color-danger">
                        {{ form_errors(form.picture) }}
                    </div>
                </div>
                <div class="form-group flex-grow">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                    <div class="color-danger">
                        {{ form_errors(form.name) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="flex align-center">
                    <p>{{ 'ui.all_games'|trans|capitalize }}</p>
                    <i data-tooltip="{{ ('tooltip.maximum_game_in_guild'|trans|UCFirst)|raw }}">
                        <img src="{{ asset('/build/front/tools/info_potion.svg') }}" alt="{{ 'tooltip.tooltip'|trans }}"
                             width="20" height="20">
                    </i>
                </div>
                <div id="{{ form.games.vars.id }}" class="card guild-block">
                    <div class="grid justify-left">
                        {% for game in form.games %}
                            <div class="checkbox-container">
                                <input id="{{ game.vars.id }}" name="{{ game.vars.full_name }}"
                                       value="{{ game.vars.value }}"
                                       type="checkbox" {% if game.vars.checked %}checked{% endif %} class="checkbox">
                                <label for="{{ game.vars.id }}" class="checkbox-label">{{ game.vars.label }}</label>
                                <span class="checkbox-title">{{ game.vars.label }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="color-danger">
                        {{ form_errors(form.games) }}
                        {{ form_errors(form.totalGames) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.content) }}
                {{ form_widget(form.content) }}
                <div class="color-danger">
                    {{ form_errors(form.content) }}
                </div>
            </div>
            <button class="btn-primary">{{ 'ui.create'|trans|capitalize }}</button>
            <a href="{{ path('front.guild.index') }}" class="btn-secondary">
                {{ 'ui.go_back'|trans|capitalize }}
            </a>
            {{ form_widget(form._token) }}
            {{ form_end(form, {render_rest: false}) }}
        </div>
    </div>
{% endblock %}

