{% extends '@front/front.html.twig' %}

{% block description 'meta.description.guilds.show'|trans({'%guild%': guild.name})|capitalize %}
{% block title guild.name|capitalize %}

{% block body %}
    <section class="game-banner"
             style="background: url('{{ asset('/uploads/images/guilds/' ~ guild.picture) }}') center / cover;">
        <h1 class="game-mask h1">{{ guild.name }}</h1>
    </section>

    <div class="container mt2">
        {#
        <div class="flex space-between align-center">
            {% if app.user is same as guild.master %}
                <a class="btn-secondary" href="{{ path('front.guild.edit', {'slug': guild.slug}) }}">
                    {{ 'ui.edit_groupe'|trans|capitalize }}
                </a>
            {% endif %}
            <a href="{{ path('front.guild.index') }}" class="btn-secondary mt2">
                {{ 'ui.go_back'|trans|capitalize }}
            </a>
        </div>
        #}

        <div class="guild mt2">
            <div class="guild-info card">
                <h2 class="h3 mb1 card-title main-mark link-line">{{ 'ui.info_general'|trans|capitalize }}</h2>
                <h3 class="card-title">{{ 'ui.creation_date'|trans|capitalize }}</h3>
                <ul class="card-body">
                    <li class="list-circle-inside">{{ guild.createdAt|ago }}</li>
                </ul>
                <h3 class="card-title">{{ 'ui.all_games'|trans|capitalize }}</h3>
                <ul class="card-body">
                    {% for game in guild.games %}
                        <li class="list-circle-inside">
                            <a href="{{ path('front.game.show', {'slug': game.slug}) }}">{{ game.name }}</a>
                        </li>
                    {% else %}
                        {{ 'ui.no_item'|trans|capitalize }}
                    {% endfor %}
                </ul>
                <h2 class="h3 card-title main-mark my1 link-line">{{ 'ui.info_members'|trans|capitalize }}</h2>
                <h3 class="card-title">{{ 'ui.master'|trans|capitalize }}</h3>
                <ul class="card-body">
                    <li class="list-circle-inside">
                        <a href="{{ path('front.account.index', {'slug': guild.master.slug}) }}">
                            {{ guild.master.username }}
                        </a>
                    </li>
                </ul>
                <h3 class="card-title">{{ 'ui.members'|trans|capitalize }}</h3>
                <ul class="card-body guild-list">
                    {% for member in guild.members %}
                        <li class="list-circle-inside">
                            <a href="{{ path('front.account.index', {'slug': member.slug}) }}">{{ member.username }}</a>
                        </li>
                    {% else %}
                        {{ 'ui.no_item'|trans|capitalize }}
                    {% endfor %}
                </ul>
            </div>

            <div class="guild-content card">
                {% if guild.content %}
                    {{ guild.content|raw }}
                {% else %}
                    {{ 'ui.no_item'|trans|capitalize }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

