{% set start = calendar.firstDay.format('N') is same as ('1') ? calendar.firstDay : calendar.firstDay|date_modify('last monday') %}
{% set end = start|date_modify('+' ~ (13 + 7 * (calendar.weeks - 1)) ~ ' days') %}

<div class="text-center">
    <a class="btn-ternary" href="?m={{ calendar.previousMonth.month }}&y={{ calendar.previousMonth.year }}#schedule">
        <
    </a>
    <a class="btn-ternary" href="?m={{ calendar.nextMonth.month }}&y={{ calendar.nextMonth.year }}#schedule">
        >
    </a>
</div>

<div class="schedule-grid">
    {% for week in 0..calendar.weeks %}
        {% for key, day in constant('DAYS', calendar) %}
            {% set number = start|date_modify('+' ~ (key + week * 7) ~ ' days') %}
            {% set schedulesForDays = schedulesFind[number.format('Y-m-d')] ?? [] %}

            {% if calendar.withinMonth(number) %}
                {% set monthStyle = 'in-month' %}
            {% else %}
                {% set monthStyle = 'out-month' %}
            {% endif %}

            <div class="schedule-cell {{ monthStyle }}">
                {% if week is same as (0) %}
                    {% set dayShow = '' %}
                {% else %}
                    {% set dayShow = 'day-off' %}
                {% endif %}

                <div class="schedule-day {{ dayShow }}">
                    <span>{{ ('calendar.days.' ~ day)|trans|capitalize }}</span>
                    <br>
                </div>

                {% if number|date('d') is same as 'now'|date('d') %}
                    <strong>{{ number|date('d') }}</strong>
                {% else %}
                    {{ number|date('d') }}
                {% endif %}

                {% if schedulesForDays is defined %}
                    <ul class="schedule-list">
                        {% set user = [] %}
                        {% for scheduleForDay in schedulesForDays %}
                            {% if scheduleForDay.user.username not in user %}
                                <li>
                                    <a href="">
                                        <small>{{ scheduleForDay.user.username }}</small>
                                    </a>
                                </li>
                                {% set user = user|merge([scheduleForDay.user.username]) %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
</div>