{% extends '@front/front.html.twig' %}

{% block description 'meta.description.home'|trans|capitalize %}
{% block title 'ui.home'|trans|capitalize %}

{% block body %}
    <div class="home-intro container">
        <section>
            <h1 class="hero-title mb1 divider before">{{ ('ui.hero_title'|trans|capitalize)|raw }}</h1>
            <p class="hero-text text-justify">{{ 'ui.hero_text'|trans }}</p>
            <ul class="flex-no-mobile gap-1 mt1">
                <li class="list-circle-inside">
                    <a href="{{ path('home.new-player') }}">nouveau rôliste ?</a>
                </li>
                <li class="list-circle-inside">
                    <a href="{{ discord }}" target="_blank">rejoindre le Discord</a>
                </li>
                <li class="list-circle-inside">
                    <a href="{{ path('calendar.index') }}">voir le calendrier</a>
                </li>
            </ul>
        </section>
        <img srcset="{{ asset('build/front/mascot/rolie.svg') }} 180w, {{ asset('build/front/mascot/rolie.svg') }} 280w"
             sizes="(max-width : 62em) 180px, 280px"
             src="{{ asset('build/front/mascot/rolie.svg') }}" alt="Rolie Chaos" title="Rolie Chaos !">
    </div>

    {{ source('@public/build/front/tools/waves.svg') }}

    <section class="home-finder">
        <h2 class="h2 text-center divider after">{{ 'ui.find_table'|trans|capitalize }}</h2>
        <div class="text-right mb1 mr2">
            <a href="{{ path('table.index') }}" class="link-line">
                {{ 'ui.see_all_tables'|trans }}
            </a>
        </div>
        <div class="relative" data-carousel="home">
            {% for table in tables %}
                <div class="carousel"
                     style="background: url('{{ asset('/uploads/images/tables/' ~ table.picture)|imagine_filter('table_home') }}') center / cover;">
                    <a href="{{ path('table.show', {'slug': table.slug}) }}"
                       class="carousel-mask h3">{{ table.name }}</a>
                </div>
            {% endfor %}
        </div>
    </section>

    <div class="home-invitation mt5 py5">
        <section class="container text-center">
            <h2 class="h2 text-center divider after">{{ 'ui.join_us'|trans|capitalize }}</h2>
            <p class="text-center mb1 mr2">{{ 'ui.join_us_text'|trans|UCFirst }}</p>
            <a href="{{ discord }}" target="_blank" class="btn-ternary flex center">
                {{ 'ui.join_us_discord'|trans|UCFirst }}
            </a>
        </section>
    </div>

    <div class="container mt5">
        <h2 class="h2 text-center divider after">{{ 'ui.highlight'|trans|capitalize }}</h2>

        <div class="grid gap-3">
            <section>
                <h3 class="h3 text-center mb1">{{ 'ui.about_us'|trans|capitalize }}</h3>
                <p class="text-justify">{{ 'ui.about_us_text'|trans|UCFirst|raw }}</p>
            </section>

            <section>
                <h3 class="h3 text-center mb1">{{ 'ui.about_rp'|trans|capitalize }}</h3>
                <p class="text-justify">{{ 'ui.about_rp_text'|trans|UCFirst|raw }}</p>
            </section>

            <section>
                <h3 class="h3 text-center mb1">{{ 'ui.about_join_us'|trans|capitalize }}</h3>
                <p class="text-justify">{{ 'ui.about_join_us_text'|trans({
                        '%link_register%': path('registration.register'),
                        '%link_tables%': path('table.index'),
                        '%link_events%': path('event.index'),
                        '%link_contact%': path('contact.index'),
                        '%link_discord%': discord
                    })|UCFirst|raw }}
                </p>
            </section>
        </div>
    </div>
{% endblock %}
