{% extends '@front/front.html.twig' %}

{% block description 'meta.description.feeds'|trans|capitalize %}
{% block title 'ui.feeds'|trans|capitalize %}

{% block body %}
    {% for feed in feeds %}
        <h2 class="h2">{{ feed.author.username }}</h2>
        <p>{{ feed.content }}</p>
    {% endfor %}

    <div id="feedsMore"></div>

    {#    {% if feeds.hasNextPage %} #}
    {#        <turbo-frame id="mix-browse-list-{{ feeds.nextPage }}" src="{{ pagerfanta_page_url(feeds, feeds.nextPage) }}" loading="lazy"></turbo-frame> #}
    {#    {% endif %} #}
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let page = 2;
            const total = {{ feeds.getTotalItemCount }};
            const itemsPerPage = {{ feeds.getItemNumberPerPage }};
            window.addEventListener("scroll", () => {
                if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
                    const data = {
                        'page': page++
                    };

                    if ((page - 1) * itemsPerPage > total) {
                        // $('#no-more').show();
                    } else {
                        let fetch_status;
                        fetch('{{ path('feeds.more') }}', {
                            method: 'POST',
                            // Set the headers
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            // Set the post data
                            body: JSON.stringify({page: data})
                        })
                            .then(function (response) {
                                // Save the response status in a variable to use later.
                                fetch_status = response.status;
                                // Handle success
                                return response.json();
                            })
                            .then(function (items) {
                                // Check if the response were success
                                if (fetch_status === 200) {
                                    // Use the converted JSON
                                    items.forEach(function (item) {
                                        const moreFeeds = document.createElement('div');
                                        moreFeeds.innerHTML = `<h2>${item['author-name']}</h2><p>${item['content']}</p>`;

                                        document.getElementById('feedsMore').appendChild(moreFeeds);
                                    });
                                }
                            })
                            .catch(function (error) {
                                // Catch errors
                                console.error(error);
                            });
                    }
                }
            });
        });
    </script>
{% endblock %}
