{% set user = (user is defined and user is not null) ? user : app.user %}
{% set currentPath = app.request.attributes.get('_route') %}

{% if user.avatar %}
    {% set avatar = asset('/uploads/images/avatars/'~ user.avatar.path)|imagine_filter('avatar_account') %}
{% else %}
    {% set avatar = '/build/front/mascot/default_avatar.svg' %}
{% endif %}

<section class="container mt2">
    <div class="account-menu_profil">
        <img src="{{ avatar }}" alt="Avatar" width="106" height="106" class="rounded mr1">
        <div class="flex column justify-center">
            <h1 class="h1">{{ user.username|UCFirst }}</h1>
            <small class="main-mark menu-online">
                {% if user.loggedAt|date_modify('+5 minutes')|date < 'now'|date %}
                    <div class="menu-online-dot"></div>
                    {{ 'ui.last_login'|trans|UCFirst ~ ' ' ~ user.loggedAt|ago }}
                {% else %}
                    <div class="menu-online-dot online"></div>
                    {{ 'ui.logged'|trans|capitalize }}
                {% endif %}
            </small>
        </div>
    </div>
</section>

<div class="account-menu mt2">
    <ul class="container account-menu_list">
        <li class="px1 account-menu_lines py1 {% if currentPath is same as 'front.account.index' %}active{% endif %}">
            <a href="{{ path('account.index', {'slug': user.slug}) }}">
                {{ 'ui.profile'|trans|capitalize }}
            </a>
        </li>
        {% if app.user is same as user %}
            <li class="px1 account-menu_user py1 {% if currentPath is same as 'front.account.edit' %}active{% endif %}">
                <a href="{{ path('account.edit', {'slug': app.user.slug}) }}">
                    {{ 'ui.edit'|trans|capitalize }}
                </a>
            </li>
        {% endif %}
        <li class="px1 account-menu_badge py1 {% if currentPath is same as 'front.account.badge' %}active{% endif %}">
            <a href="{{ path('account.badge', {'slug': user.slug}) }}">
                {{ 'ui.badges' |trans|capitalize }}
            </a>
        </li>
        {% if app.user is same as user %}
            <li class="px1 account-menu_logout py1 color-danger">
                <a href="{{ path('security.logout') }}">
                    {{ 'ui.logout'|trans|capitalize }}
                </a>
            </li>
        {% endif %}
    </ul>
</div>
