{% extends '@front/front.html.twig' %}

{% block description 'meta.description.account'|trans({'%user%': app.user.username})|capitalize %}
{% block title 'ui.account'|trans|capitalize %}

{% block body %}
    {% include '@front/account/_menu.html.twig' %}

    <section class="container mt2">
        <div class="account-badge">
            {% for badge in badges %}
                {% for unlock in user.badgeUnlocks|filter(unlock => badge is same as unlock.badge) %}
                    <div class="account-badge_trophy unlocked">
                        <img src="{{ asset('build/front/tools/badge.png') }}" alt="" width="96">
                        <h6 class="account-badge_title">{{ badge.name }}</h6>
                        <p>{{ badge.description }}</p>
                    </div>
                {% else %}
                    <div class="account-badge_trophy">
                        <img src="{{ asset('build/front/tools/badge.png') }}" alt="" width="96">
                        <h6 class="account-badge_title">{{ badge.name }}</h6>
                        <p>{{ badge.description }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
