{% extends '@front/front.html.twig' %}

{% block description 'meta.description.account'|trans({'%user%': app.user.username})|capitalize %}
{% block title 'ui.account'|trans|capitalize %}

{% block body %}
    {% include '@front/account/_menu.html.twig' %}

    <section class="container">
        {{ form_start(formAvatar) }}
        <div class="form-group">
            {{ form_label(formAvatar.avatar) }}
            {{ form_widget(formAvatar.avatar) }}
            <div class="color-danger">
                {{ form_errors(formAvatar.avatar) }}
            </div>
        </div>
        <button type="submit" class="btn-primary">{{ 'ui.edit'|trans|capitalize }}</button>
        {{ form_end(formAvatar) }}
    </section>

    <section class="container">
        {{ form_start(formProfile) }}
        <div class="flex gap-2">
            <div class="form-group flex-grow">
                {{ form_label(formProfile.email) }}
                {{ form_widget(formProfile.email) }}
                <div class="color-danger">
                    {{ form_errors(formProfile.email) }}
                </div>
            </div>
            <div class="form-group flex-grow">
                {{ form_label(formProfile.username) }}
                {{ form_widget(formProfile.username) }}
                <div class="color-danger">
                    {{ form_errors(formProfile.username) }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn-primary">{{ 'ui.edit'|trans|capitalize }}</button>
        {{ form_end(formProfile) }}
    </section>
{% endblock %}
