{% extends '@front/front.html.twig' %}

{% block description 'meta.description.account'|trans({'%user%': app.user.username})|capitalize %}
{% block title 'ui.account'|trans|capitalize %}

{% block body %}
    {% include '@front/account/_menu.html.twig' %}

    {% if app.user.isVerified %}
        <section class="container mt2">
            <div class="card">
                <h2 class="card_title">{{ 'ui.edit_avatar'|trans|capitalize }}</h2>
                {{ form_start(formAvatar) }}

                <div class="flex gap-1 flex-wrap">
                    {% for choice in formAvatar.avatar.vars.choices %}
                        <label for="avatar-{{ choice.data.id }}" class="radio-label">
                            <input value="{{ choice.value }}" type="radio" class="radio"
                                   name="{{ formAvatar.avatar.vars.full_name }}" id="avatar-{{ choice.data.id }}"
                                   {% if app.user.avatar and choice.data.path is same as app.user.avatar.path %}checked{% endif %}>
                            <span class="radio-border"></span>
                            <img alt="{{ choice.data.name }}" class="rounded"
                                 src="{{ asset('/uploads/images/avatars/'~ choice.data.path)|imagine_filter('avatar_account') }}">
                        </label>
                    {% endfor %}
                    <div class="color-danger">
                        {{ form_errors(formAvatar.avatar) }}
                    </div>
                </div>
                {{ form_widget(formAvatar._token) }}
                <button type="submit" class="btn-primary">{{ 'ui.modify'|trans|capitalize }}</button>
                {{ form_end(formAvatar, {render_rest: false}) }}
            </div>
        </section>

        <section class="container mt2">
            <div class="card">
                <h2 class="card_title">{{ 'ui.edit_profile'|trans|capitalize }}</h2>
                {{ form_start(formProfile) }}
                <div class="flex-no-mobile gap-2">
                    <div class="form-group flex-grow">
                        {{ form_label(formProfile.email) }}
                        {{ form_widget(formProfile.email) }}
                        <div class="color-danger">
                            {{ form_errors(formProfile.email) }}
                        </div>
                    </div>
                    <div class="form-group flex-grow">
                        {{ form_label(formProfile.username) }}
                        {{ form_widget(formProfile.username) }}
                        <div class="color-danger">
                            {{ form_errors(formProfile.username) }}
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn-primary">{{ 'ui.modify'|trans|capitalize }}</button>
                {{ form_end(formProfile) }}
            </div>
        </section>

        <section class="container mt2">
            <div class="card">
                <h2 class="card_title">{{ 'ui.edit_password'|trans|capitalize }}</h2>
                {{ form_start(formPassword) }}
                <div class="flex-no-mobile gap-2">
                    <div class="form-group flex-grow">
                        {{ form_label(formPassword.password.first) }}
                        <div class="form-container">
                            {{ form_widget(formPassword.password.first) }}
                            <i class="i-password">
                                <img src="{{ asset('/build/front/tools/password_eye_open.svg') }}"
                                     alt="{{ 'tooltip.tooltip'|trans }}"
                                     width="20" height="20">
                            </i>
                        </div>
                        <div class="color-danger">
                            {{ form_errors(formPassword.password.first) }}
                        </div>
                    </div>
                    <div class="form-group flex-grow">
                        {{ form_label(formPassword.password.second) }}
                        <div class="form-container">
                            {{ form_widget(formPassword.password.second) }}
                            <i class="i-password">
                                <img src="{{ asset('/build/front/tools/password_eye_open.svg') }}"
                                     alt="{{ 'tooltip.tooltip'|trans }}"
                                     width="20" height="20">
                            </i>
                        </div>
                        <div class="color-danger">
                            {{ form_errors(formPassword.password.second) }}
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn-primary">{{ 'ui.modify'|trans|capitalize }}</button>
                {{ form_end(formPassword) }}
            </div>
        </section>

        <section class="container mt2">
            <div class="card flash-warning">
                <h2 class="card_title">{{ 'ui.danger_zone'|trans|capitalize }}</h2>
                <div>
                    <button data-modal-open="modalDeleteAccount" type="button" class="btn-danger">
                        {{ 'ui.delete_account'|trans|capitalize }}
                    </button>
                </div>
            </div>

            <div id="modalDeleteAccount" class="modal">
                <div id="contentDeleteAccount" class="modal-content">
                    <div class="modal-header">
                        <h2>{{ ('ui.warning_delete_account'|trans({'%link%': path('contact.index')})|UCFirst)|raw }}</h2>
                        <span data-modal-close="modalDeleteAccount" class="modal-close">✗</span>
                    </div>
                    <form action="{{ path('account.delete', {'id': app.user.id}) }}" method="post" class="modal-body">
                        <input type="hidden" name="token" value="{{ csrf_token('delete-account') }}">
                        <button id="actionDeleteAccount" type="submit" class="btn-danger">
                            {{ 'ui.understood_delete_account'|trans|capitalize }}
                        </button>
                    </form>
                </div>
            </div>
        </section>
    {% else %}
        <section class="container mt2">
            <div class="card flash-warning">{{ 'ui.verify_email_warning'|trans|UCFirst }}
                <a href="{{ path('security.registration.verify_resend_email') }}" class="btn-primary mt2 flex-center">
                    {{ 'ui.verify_email'|trans|capitalize }}
                </a>
            </div>
        </section>
    {% endif %}
{% endblock %}
