{% extends '@front/front.html.twig' %}

{% block description 'meta.description.account'|trans({'%user%': app.user.username})|capitalize %}
{% block title 'ui.account'|trans|capitalize %}

{% block body %}
    {% include '@front/account/_menu.html.twig' %}

    <section class="container mt2">
        <div class="grid">
            <div class="card">
                <h2 class="card_title h2 link-line">
                    {{ 'ui.statistics'|trans|capitalize }}
                </h2>
                <ul class="card_body">
                    <li><span class="text-strong">
                            {{ 'ui.events_created'|trans|capitalize }} :</span>
                        {{ user.eventMaster|length }}
                    </li>
                    <li><span class="text-strong">
                            {{ 'ui.events_participated'|trans|capitalize }} :</span>
                        {{ user.eventParticipates|length }}
                    </li>
                </ul>
            </div>
            <div class="card">
                <h2 class="card_title h2 link-line">{{ 'ui.tables'|trans|capitalize }}</h2>
                <div class="card_body">
                    <p class="text-strong">Tables favorites</p>
                    <ul class="table-favorite">
                        {% for table in user.tables %}
                            <li>
                                <a href="{{ path('table.show', {'slug': table.slug}) }}" title="{{ table.name }}">
                                    <img src="{{ asset('/uploads/images/tables/' ~ table.picture)|imagine_filter('table_account') }}"
                                         alt="{{ table.name }}" class="table-favorite_img">
                                </a>
                            </li>
                        {% else %}
                            {{ 'ui.not_for_now'|trans|capitalize }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% if app.user is same as user %}
            <div class="grid mt2">
                <div class="card">
                    <h2 class="card_title h2 link-line">{{ 'ui.options'|trans|capitalize }}</h2>
                    <div class="card_body">
                        {{ form_start(formParameter) }}
                        <div class="checkbox-container">
                            {{ form_widget(formParameter.eventEmailReminder) }}
                            {{ form_label(formParameter.eventEmailReminder) }}
                            <span class="checkbox-title">
                                {{ 'ui.event_email_reminder'|trans|capitalize }}
                            </span>
                            <div class="color-danger">
                                {{ form_errors(formParameter.eventEmailReminder) }}
                            </div>
                        </div>
                        <button type="submit" class="btn-primary mt1">{{ 'ui.send'|trans|UCFirst }}</button>
                        {{ form_end(formParameter) }}
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}
