{% extends '@front/front.html.twig' %}

{% block description 'meta.description.account'|trans({'%user%': app.user.username})|capitalize %}
{% block title 'ui.account'|trans|capitalize %}

{% block body %}
    {% include '@front/account/_menu.html.twig' %}

    <section class="container mt2">
        <div class="grid">
            <div class="card">
                <h2 class="card-title h2 mb1">
                    {{ 'ui.events'|trans|capitalize }}
                </h2>
                <ul class="card-body">
                    <li><span class="text-strong">
                            {{ 'ui.events_created'|trans|capitalize}} :</span>
                        {{ user.eventMaster|length }}
                    </li>
                    <li><span class="text-strong">
                            {{ 'ui.events_participated'|trans|capitalize}} :</span>
                        {{ user.eventParticipates|length }}
                    </li>
                    <li>
                        <hr class="my1">
                    </li>
                    <li>
                        <span class="text-strong">{{ 'ui.last_event'|trans|capitalize}} :</span>
                        {% if lastEvent.slug %}
                            <a href="{{ path('event.show', {'slug': lastEvent.slug}) }}">
                                {{ lastEvent.name }}
                            </a>
                        {% else %}
                            {{ 'ui.no_one'|trans }}
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="card">
                <h2 class="card-title h2 mb1">{{ 'ui.tables'|trans|capitalize }}</h2>
                <div class="card-body">
                    <p class="text-strong">Tables favorites</p>
                    <ul class="table-favorite">
                        {% for table in user.tables %}
                            <li>
                                <a href="{{ path('table.show', {'slug': table.slug}) }}">
                                    <img src="{{ asset('/uploads/images/tables/' ~ table.picture)|imagine_filter('table_account') }}"
                                         alt="{{ table.name }}" class="table-favorite_img">
                                </a>
                            </li>
                            {% else %}
                            {{ 'ui.not_for_now'|trans|capitalize }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
