{% extends '@front/front.html.twig' %}

{% block description 'meta.description.account'|trans({'%user%': app.user.username})|capitalize %}
{% block title 'ui.account'|trans|capitalize %}

{# Macro to loop and create tree structure of folders #}
{% macro tree_structure(folders, storages) %}
    {% import _self as macros %}
    <ul class="hierarchy">
        {% for folder in folders %}
            <li>
                <div class='flex space-between'>
                    <a href="{{ path('account.storage', {'slug': app.user.slug, 'folder': folder.slug}) }}">
                        {{ folder.title }}
                    </a>
                    <div class='dropdown'>
                        <span>&#8230;</span>
                        <div class='dropdown-content'>
                            <a href='{{ path('account.folder-edit', {'folder': folder.slug}) }}'>
                                {{ 'ui.edit'|trans|capitalize }}
                            </a>
                            <form action='{{ path('account.folder-delete', {'folder': folder.slug}) }}' method='post'>
                                <input type='hidden' name='_method' value='DELETE'>
                                <input type='hidden' name='token' value='{{ csrf_token('delete-folder') }}'>
                                <button type='submit'>{{ 'ui.delete'|trans|capitalize }}</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% if folder.__children %}
                    {{ macros.tree_structure(folder.__children) }}
                {% endif %}
                {% if folder.originalName %}
                    <a href="{{ path('account.storage', {'slug': app.user.slug, 'folder': folder.slug}) }}"
                       class="hierarchy-storage">
                        {{ folder.originalName }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block body %}
    {% include '@front/account/_menu.html.twig' %}

    <section class="container mt2">
        <div class="account-storage">
            <div class="account-storage_info card flash-info"></div>
            <div class="account-storage_content card">
                {% if (( totalSizeStorage / max_upload_size) * 100 )|number_format < 50 %}
                    {% set status = 'color-success' %}
                {% elseif (( totalSizeStorage / max_upload_size) * 100 )|number_format < 75 %}
                    {% set status = 'color-warning' %}
                {% else %}
                    {% set status = 'color-danger' %}
                {% endif %}
                <div class="text-right">
                    <span class="{{ status }}">{{ '~' ~ totalSizeStorage|ea_filesize }}</span>
                    utilisés sur {{ max_upload_size|ea_filesize }}
                </div>

                <progress max="{{ max_upload_size }}" value="{{ totalSizeStorage }}"></progress>

                <ol class="flex mt2">
                    <li>
                        <a href="{{ path('account.storage', {'slug': app.user}) }}">/{{ 'ui.storage'|trans }}</a>
                    </li>
                    {% for p in path %}
                        <li>
                            {% if not loop.last %}
                                <a href="{{ path('account.storage', {'slug': app.user.slug, 'folder': p.slug}) }}">
                                    /{{ p.title }}
                                </a>
                            {% else %}
                                <span>/{{ p.title }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>

                <table class="d-table">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Taille</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    {% for storage in storages %}
                        <tr>
                            <td>
                                <a download href="{{ asset(vich_uploader_asset(storage)) }}" class="link-line">
                                    {{ storage.originalName }}
                                </a>
                            </td>
                            <td>{{ storage.size|ea_filesize }}</td>
                            <td class="text-center">
                                <div class="flex">
                                    <a href="{{ path('account.storage-edit', {'storage': storage.slug}) }}" class="mr1"
                                       title="{{ 'ui.edit'|trans }}">
                                        &#9998;
                                    </a>
                                    <form action="{{ path('account.storage-delete', {'storage': storage.slug}) }}"
                                          method="post">
                                        <input type='hidden' name='_method' value='DELETE'>
                                        <input type='hidden' name='token' value='{{ csrf_token('delete-storage') }}'>
                                        <button type="submit" class="ml1" title="{{ 'ui.delete'|trans }}">&#9881;
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="account-storage_form card">
                {% if totalSizeStorage < max_upload_size %}
                    {{ form_start(formStorage) }}
                    <button type="submit" class="btn-primary">{{ 'ui.download_item'|trans|capitalize }}</button>
                    {{ form_widget(formStorage.imageFile) }}
                    {{ form_widget(formStorage._token) }}
                    <span class="color-danger">{{ form_errors(formStorage) }}</span>
                    {{ form_end(formStorage, {'render_rest': false}) }}
                {% else %}
                    <div class="card flash-warning">
                        Vous avez dépassé le quota maximum de téléchargement !
                    </div>
                {% endif %}
                <hr class="my1">
                {{ form_start(formNewFolder) }}
                <div class="form-group">
                    <label>{{ 'ui.create-folder'|trans|capitalize }}</label>
                    {% set title = '' %}
                    {% for p in path %}
                        {% set title = p.title %}
                    {% else %}
                        {% set title = 'archives' %}
                    {% endfor %}
                    {{ form_widget(formNewFolder.title, {
                        'attr': {
                            'placeholder': 'ui.create-folder-placeholder'|trans({'%path%': title})|capitalize
                        }}) }}
                    <div class="color-danger">
                        {{ form_errors(formNewFolder) }}
                    </div>
                </div>
                {{ form_end(formNewFolder) }}

                <a href="{{ path('account.storage', {'slug': app.user.slug}) }}" class="hierarchy-parent">
                    {{ 'ui.storage'|trans|capitalize }}
                </a>
                {{ _self.tree_structure(folderHierarchy, storages) }}
            </div>
        </div>
    </section>
{% endblock %}
