{% extends '@front/front.html.twig' %}

{% block description 'meta.description.account'|trans({'%user%': app.user.username})|capitalize %}
{% block title 'ui.account'|trans|capitalize %}

{% block body %}
    {% include '@front/account/_menu.html.twig' %}

    <section class="container mt2">
        <div class="account-storage">
            <div class="account-storage_info">
                <button type="button" data-modal-open="howStorageWork" class="btn-secondary">
                    {{ ('ui.how_it_work'|trans|UCFirst) }}
                </button>

                <div id="howStorageWork" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>{{ ('ui.how_it_work'|trans|UCFirst) }}</h2>
                            <span data-modal-close="howStorageWork" class="modal-close">✗</span>
                        </div>
                        <div class="p1">
                            <div>
                                <p>
                                    Les archives sont votre gestionnaire de dossiers personnel.
                                    Ici, vous pouvez y entreposer ce que vous voulez jusqu'à
                                    <strong>{{ max_upload_size|ea_filesize }}</strong>.
                                </p>
                                <h3 class="h3 mt1">Téléverser et créer</h3>
                                <p>
                                    La première section propose de téléverser votre fichier ou de créer un dossier.
                                    Ces éléments seront envoyés dans le répertoire où vous vous situez actuellement.
                                    <br>
                                    <strong>Note :</strong> il est possible par après de modifier vos fichiers et/ou
                                    dossiers.
                                </p>
                                <h3 class="h3 mt2">Naviguer et télécharger</h3>
                                <p>
                                    La deuxième section constitue votre gestionnaire. Vous pouvez y naviguer de dossier
                                    en dossier.
                                    Si un ou plusieurs fichiers existent dans ce répertoire, il sera affiché sous forme
                                    de table.
                                    <br>
                                    <strong>Note :</strong> c'est ici que vous pouvez modifier, supprimer ou télécharger
                                    vos fichiers.
                                </p>
                                <h3 class="h3 mt2">Les fichiers téléchargeables sont :</h3>
                                <ul>
                                    <li class="list-circle-inside">
                                        Images <strong>(PNJ/JPG/GIF)</strong></li>
                                    <li class="list-circle-inside">
                                        Documents <strong>(PDF, X-PDF, DOC, DOCX, TXT)</strong>
                                    </li>
                                </ul>
                                <p class="mt1">
                                    Les fichiers téléchargeables doivent faire moins de <strong>100MB</strong>.
                                </p>
                                <p>
                                    Les dossiers doivent faire au minimum <strong>3 caractères</strong> et au maximum
                                    <strong>64 caractères</strong>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="account-storage_content card">
                {% if (( totalSizeStorage / max_upload_size) * 100 )|number_format < 50 %}
                    {% set status = 'color-success' %}
                {% elseif (( totalSizeStorage / max_upload_size) * 100 )|number_format < 75 %}
                    {% set status = 'color-warning' %}
                {% else %}
                    {% set status = 'color-danger' %}
                {% endif %}
                <div class="text-right">
                    <span class="{{ status }}">{{ '~' ~ totalSizeStorage|ea_filesize }}</span>
                    utilisés sur {{ max_upload_size|ea_filesize }}
                </div>

                <progress max="{{ max_upload_size }}" value="{{ totalSizeStorage }}" style="width: 100%"></progress>

                <ol class="breadcrumb mt2">
                    <li>
                        <a href="{{ path('account.storage', {'slug': app.user}) }}">{{ 'ui.storage'|trans|UCFirst }}</a>
                    </li>
                    {% for p in path %}
                        <li>
                            {% if not loop.last %}
                                <a href="{{ path('account.storage', {'slug': app.user.slug, 'folder': p.slug}) }}">
                                    {{ p.title|UCFirst }}
                                </a>
                            {% else %}
                                <span>{{ p.title|UCFirst }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>

                {% if folderHierarchy is not empty %}
                    <section class="hierarchy mt2">
                        {% for folder in folderHierarchy %}
                            <div class="hierarchy-block">
                                <a href="{{ path('account.storage', {'slug': app.user.slug, 'folder': folder.slug}) }}"
                                   class="hierarchy-folder">
                                    <img src="{{ asset('build/front/icons/folder.svg') }}"
                                         alt="{{ 'ui.folder'|trans|capitalize }}"
                                         width="20">
                                    <h2>{{ folder.title|UCFirst }}</h2>
                                </a>

                                <div class='hierarchy-dropdown dropdown'>
                                    <span>&#9881;</span>
                                    <div class='dropdown-content'>
                                        <form action='{{ path('account.folder-delete', {'folder': folder.slug}) }}'
                                              method='post'>
                                            <button type="button">
                                                <a href="{{ path('account.folder-edit', {'folder': folder.slug}) }}"
                                                   class="mr1 color-danger"
                                                   title="{{ 'ui.edit'|trans|capitalize }}">
                                                    <img src="{{ asset('build/front/icons/edit.svg') }}"
                                                         alt="{{ 'ui.edit'|trans|capitalize }}" width="16">
                                                </a>
                                            </button>
                                            <input type='hidden' name='_method' value='DELETE'>
                                            <input type='hidden' name='token'
                                                   value='{{ csrf_token('delete-folder') }}'>
                                            <button type='submit'>
                                                <img src="{{ asset('build/front/icons/trash.svg') }}"
                                                     title="{{ 'ui.delete'|trans|capitalize }}"
                                                     alt="{{ 'ui.delete'|trans|capitalize }}"
                                                     width="16">
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                {% endif %}

                {% if storages is not empty %}
                    <hr class="my2">

                    <table class="d-table">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Taille</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        {% for storage in storages %}
                            <tr>
                                <td>{{ storage.originalName }}</td>
                                <td>{{ storage.size|ea_filesize }}</td>
                                <td class="text-center">
                                    <form action="{{ path('account.storage-delete', {'storage': storage.slug}) }}"
                                          method="post" class="flex-no-mobile align-center space-evenly">
                                        <button type="button">
                                            <a download href="{{ asset(vich_uploader_asset(storage)) }}">
                                                <img src="{{ asset('build/front/icons/download.svg') }}"
                                                     alt="{{ 'ui.download'|trans|capitalize }}" width="16">
                                            </a>
                                        </button>
                                        <button type="button">
                                            <a href="{{ path('account.storage-edit', {'storage': storage.slug}) }}"
                                               title="{{ 'ui.edit'|trans|capitalize }}">
                                                <img src="{{ asset('build/front/icons/edit.svg') }}"
                                                     alt="{{ 'ui.edit'|trans|capitalize }}" width="16">
                                            </a>
                                        </button>
                                        <input type='hidden' name='_method' value='DELETE'>
                                        <input type='hidden' name='token'
                                               value='{{ csrf_token('delete-storage') }}'>
                                        <button type="submit" title="{{ 'ui.delete'|trans|capitalize }}">
                                            <img src="{{ asset('build/front/icons/trash.svg') }}"
                                                 alt="{{ 'ui.delete'|trans|capitalize }}" width="16">
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
            <div class="account-storage_form card">
                {% if totalSizeStorage < max_upload_size %}
                    {{ form_start(formStorage) }}
                    <button type="submit" class="btn-primary">{{ 'ui.download_item'|trans|capitalize }}</button>
                    {{ form_widget(formStorage.imageFile) }}
                    {{ form_widget(formStorage._token) }}
                    <span class="color-danger">{{ form_errors(formStorage) }}</span>
                    {{ form_end(formStorage, {'render_rest': false}) }}
                {% else %}
                    <div class="card flash-warning">
                        Vous avez dépassé le quota maximum de téléchargement !
                    </div>
                {% endif %}

                {{ form_start(formNewFolder) }}
                <div class="form-group">
                    <label>{{ 'ui.create-folder'|trans|capitalize }}</label>
                    {% set title = '' %}
                    {% for p in path %}
                        {% set title = p.title %}
                    {% else %}
                        {% set title = 'archives' %}
                    {% endfor %}
                    {{ form_widget(formNewFolder.title, {
                        'attr': {
                            'placeholder': 'ui.create-folder-placeholder'|trans({'%path%': title})|capitalize
                        }}) }}
                    <div class="color-danger">
                        {{ form_errors(formNewFolder) }}
                    </div>
                </div>
                {{ form_widget(formNewFolder._token) }}

                {{ form_end(formNewFolder, {'render_rest': false}) }}
            </div>
        </div>
    </section>
{% endblock %}
