{% extends '@front/front.html.twig' %}

{% block description 'meta.description.account'|trans({'%user%': app.user.username})|capitalize %}
{% block title 'ui.account'|trans|capitalize %}

{% block body %}
    {% include '@front/account/_menu.html.twig' %}

    <section class="container mt2">
        <div class="account-storage">
            <div class="account-storage_info card flash-info"></div>
            <div class="account-storage_content card dark">
                <ol class="flex">
                    <li>
                        <a href="{{ path('account.storage', {'slug': app.user}) }}">/{{ 'ui.storage'|trans }}</a>
                    </li>
                    {% for p in path %}
                        <li>
                            {% if not loop.last %}
                                <a href="{{ path('account.storage', {'slug': app.user.slug, 'folder': p.slug}) }}">
                                    /{{ p.title }}
                                </a>
                            {% else %}
                                <span>/{{ p.title }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>

                {% for storage in app.user.storages %}
                    <img src="{{ path('private.file', {id: storage.id}) }}" alt="{{ storage.originalName }}">
                {% endfor %}
            </div>
            <div class="account-storage_form card">
                {{ form_start(formStorage) }}
                <button type="submit" class="btn-primary">{{ 'ui.download_item'|trans|capitalize }}</button>
                {{ form_widget(formStorage.imageFile) }}
                {{ form_end(formStorage) }}
                <hr class="mb1">
                {{ form_start(formNewFolder) }}
                <div class="form-group">
                    <label>{{ 'ui.create-folder'|trans|capitalize }}</label>
                    {% for p in path %}
                        {{ form_widget(formNewFolder.title, {
                            'attr': {
                                'placeholder': 'ui.create-folder-placeholder'|trans({'%path%': p.title})|capitalize
                            }}) }}
                    {% else %}
                        {{ form_widget(formNewFolder.title, {
                            'attr': {
                                'placeholder': 'ui.create-folder-placeholder'|trans({'%path%': 'archives'})|capitalize
                            }}) }}
                    {% endfor %}
                    <div class="color-danger">
                        {{ form_errors(formNewFolder.title) }}
                    </div>
                </div>
                {{ form_end(formNewFolder) }}
                {{ folderHierarchy|raw }}
            </div>
        </div>
    </section>

{% endblock %}