{{ form_start(form) }}
<div class="card dark">
    <div class="flex-no-mobile gap-2">
        <div class="form-group flex-grow">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            <div class="color-danger">
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div class="form-group flex-grow">
            {{ form_label(form.totalParticipate) }}
            <div class="form-container">
                {{ form_widget(form.totalParticipate) }}
                <i data-tooltip="{{ ('tooltip.total_participate'|trans|UCFirst) }}">
                    <img src="{{ asset('/build/front/tools/info_potion.svg') }}" alt="{{ 'tooltip.tooltip'|trans }}"
                         width="20" height="20">
                </i>
            </div>
            <div class="color-danger">
                {{ form_errors(form.totalParticipate) }}
            </div>
        </div>
    </div>

    <div class="checkbox-container">
        <input id="dateEndEventCheckbox" class="checkbox" type="checkbox">
        <label for="dateEndEventCheckbox" class="checkbox-label" data-display="dateEndEventForm">
            {{ 'ui.end_date_event_different'|trans|capitalize }}
        </label>
        <span class="checkbox-title">{{ 'ui.end_date_event_different'|trans|capitalize }}</span>
    </div>

    <div class="flex-no-mobile gap-2">
        <div class="form-group flex-grow">
            {{ form_label(form.start) }}
            {{ form_widget(form.start) }}
            <div class="color-danger">
                {{ form_errors(form.start) }}
            </div>
        </div>
        <div class="form-group flex-grow" id="dateEndEventForm" style="display: none;">
            {{ form_label(form.end) }}
            {{ form_widget(form.end) }}
            <div class="color-danger">
                {{ form_errors(form.end) }}
            </div>
        </div>
    </div>

    <div class="flex-no-mobile gap-2">
        <div class="form-group flex-grow">
            {{ form_label(form.startHour) }}
            {{ form_widget(form.startHour, {'attr': {'value': event.start|date('H:i')}}) }}
            <div class="color-danger">
                {{ form_errors(form.startHour) }}
            </div>
        </div>
        <div class="form-group flex-grow">
            {{ form_label(form.endHour) }}
            {{ form_widget(form.endHour, {'attr': {'value': event.end|date('H:i')}}) }}
            <div class="color-danger">
                {{ form_errors(form.endHour) }}
            </div>
        </div>
    </div>

    <div class="flex-no-mobile gap-2">
        <div class="form-group flex-grow">
            {{ form_label(form.type) }}
            {{ form_widget(form.type) }}
            <div class="color-danger">
                {{ form_errors(form.type) }}
            </div>
        </div>
        <div class="form-group flex-grow">
            {{ form_label(form.table) }}
            {{ form_widget(form.table) }}
            <div class="color-danger">
                {{ form_errors(form.table) }}
            </div>
        </div>
    </div>

    <div>
        <div class="form-group">
            {{ form_label(form.zone) }}
            <div class="form-container">
                {{ form_widget(form.zone) }}
                <i data-tooltip="{{ ('tooltip.zone_empty_for_online'|trans|UCFirst) }}">
                    <img src="{{ asset('/build/front/tools/info_potion.svg') }}" alt="{{ 'tooltip.tooltip'|trans }}"
                         width="20" height="20">
                </i>
            </div>
            <div class="color-danger">
                {{ form_errors(form.zone) }}
            </div>
        </div>
    </div>

    {{ form_label(form.content) }}
    {{ form_widget(form.content) }}
    <div class="color-danger">
        {{ form_errors(form.content) }}
    </div>

    <div class="card_btn">
        <button type="submit" class="btn-primary mt1">{{ 'ui.send'|trans|capitalize }}</button>
    </div>
</div>
{{ form_end(form) }}
