{{ form_start(form) }}
<div class="card">
    <div class="card-body">
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            <div class="color-danger">
                {{ form_errors(form.name) }}
            </div>
        </div>
    </div>

    <div class="card-body flex-no-mobile gap-2" style="display: none;">
        <div class="form-group flex-grow">
            {{ form_label(form.bgColor) }}
            {{ form_widget(form.bgColor) }}
            <div class="color-danger">
                {{ form_errors(form.bgColor) }}
            </div>
        </div>
        <div class="form-group flex-grow">
            {{ form_label(form.borderColor) }}
            {{ form_widget(form.borderColor) }}
            <div class="color-danger">
                {{ form_errors(form.borderColor) }}
            </div>
        </div>
    </div>

    <div class="card-body flex-no-mobile gap-2">
        <div class="form-group flex-grow">
            {{ form_label(form.start) }}
            {{ form_widget(form.start) }}
            <div class="color-danger">
                {{ form_errors(form.start) }}
            </div>
        </div>
        <div class="form-group flex-grow">
            {{ form_label(form.end) }}
            {{ form_widget(form.end) }}
            <div class="color-danger">
                {{ form_errors(form.end) }}
            </div>
        </div>
    </div>

    <div class="card-body flex-no-mobile gap-2">
        <div class="form-group flex-grow">
            {{ form_label(form.type) }}
            {{ form_widget(form.type) }}
            <div class="color-danger">
                {{ form_errors(form.type) }}
            </div>
        </div>
        <div class="form-group flex-grow">
            {{ form_label(form.table) }}
            {{ form_widget(form.table) }}
            <div class="color-danger">
                {{ form_errors(form.table) }}
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="form-group">
            {{ form_label(form.zone) }}
            {{ form_widget(form.zone) }}
            <div class="color-danger">
                {{ form_errors(form.zone) }}
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="card-group">
            {{ form_label(form.content) }}
            {{ form_widget(form.content) }}
            <div class="color-danger">
                {{ form_errors(form.content) }}
            </div>
        </div>
    </div>

    <div class="card-footer">
        <button type="submit" class="btn-primary mt1">{{ 'ui.send'|trans|capitalize }}</button>
    </div>
</div>
{{ form_end(form) }}