{% extends '@front/front.html.twig' %}

{% block description 'meta.description.events.edit'|trans|capitalize %}
{% block title 'ui.edit_event'|trans({'%event%': event.name})|capitalize %}

{% block body %}
    <section class="container mt2">
        <h1 class="h1 mb2">{{ 'ui.edit_event'|trans({'%event%': event.name})|UCFirst }}</h1>

        {{ include('@front/event/_form.html.twig', {'button_label': 'Update'}) }}

        <div class="flex-no-mobile space-between align-center gap-1 mt2">
            <a href="{{ path('event.index') }}" class="btn-secondary">{{ 'ui.go_back'|trans|capitalize }}</a>
            {{ include('@front/event/_delete_form.html.twig') }}
        </div>
    </section>
{% endblock %}
